[Container]
Environment=SEARXNG_PORT=6061 SEARXNG_VALKEY_URL=valkey://localhost:6379/0　SEARXNG_SETTINGS_PATH=/etc/searxng/user.yml
Image=pb-llm-search.build
Pod=pp-llm.pod
